    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background: #293251;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .weather-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(113, 113, 113, 0.1);
        padding: 20px;
        width: 300px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-input {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        font-size: 14px;
        width: 200px;
    }


    .search-button {
        padding: 8px 12px;
        background-color: #1b436d;
        color: white;
        border: 2px;
        border-radius: 0 4px 4px 0;
        font-size: 14px;
        cursor: pointer;
    }


    .search-button:hover {
        background-color: #08223e;
        color: white;
    }


    .weather-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #0c2f55;
    }


    .weather-icon {
        height: 25px;
        margin-top: 15px;
    }

    .weather-heading {
        font-size: 25px;
    }

    .temperature {
        font-size: 48px;
        font-weight: bold;
        margin-top: 10px;
    }

    span {
        font-size: 30px;
    }

    .description {
        font-size: 18px;
        margin-top: 3px;
    }

    .location {
        font-size: 16px;
        margin-top: 5px;
    }


    .weather-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;

    }

    .weather-detail {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        grid-template-columns: 1fr 2fr;
        align-items: center;
        background-color: #1b436d;
        margin: 10px;
        height: 50px;
        padding: 4px;
        border: 1px solid #08223e;
        border-radius: 8px;
        text-align: center;
    }


    .weather-detail:hover {
        background-color: #122d4a;
        cursor: pointer
    }

    .detail-value {
        font-size: 18px;
        font-weight: bold;
    }

    .detail-label {
        font-size: 14px;
        color: #ffff;
    }